<!DOCTYPE html>



<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Base Template</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="Title">
                <a href="/" style="text-decoration: none;">
                    <h1>DeeJay.AI
                        <div class="highlight"></div>
                    </h1>
                </a>
                <div class="underline"></div>
            </div>
        </div>

        {% block content %}
        {% endblock %}
        
    </body>

</html>