<!DOCTYPE html>

<!-- https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda -->

<html>
    <head>
        <title>DeeJay.AI</title>

        <script src="/static/js/loading.js"></script>
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}


        <div class="login-box">
            <h2>Playlist Generator</h2>
            <form action="/" method="POST">
                <div class="user-box">
                    <input type="text" id="playlist_name" name="playlist_name" required="">
                    <label>Playlist name</label>
                </div>
                <div>
                    <p style="color: grey">Example input: Make me a playlist that feels like sitting by a cozy fire</p>
                </div>
                <div class="user-box">
                    <input type="text" id="input" name="input" required="">
                    <label>Input</label>
                </div>
                <div class="counter">
                    <label for="num_songs">
                        Number of songs (2 - 15*):
                    </label>
                    <input type="number" id="song_counter" name="song_counter" value="10" min="2" max="15">
                    <p style="font-size: small; color: grey;">
                        *Number of songs limited for testing. Default is 10
                    </p>
                </div>

                <div class="container">
                    <button id="generatePlaylist" type="submit">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Generate Playlist
                    </button>
                </div>

                <div class="container">
                    <p>{{returnMessage}}</p>
                </div>
                
                <div class="container">
                    {% if song_results %}
                    <ol id="songList">
                        {% for song in song_results %}
                        <li>{{ song }}</li>

                        {% endfor %}
                    </ol>

                    {% endif %}
                </div>

                <div class="container">
                    <a href="/clear">Clear</a>
                </div>
                
                <div class="container">
                    <a href="/youtube" class="youtube">YouTube</a>
                    {% if yt_playlist_url %}
                    <p>Click <a href="{{yt_playlist_url}}" class="link">here</a> for your new playlist</p>
                    {% endif %}
                </div>
                <div class="container">
                    <a href="/spotify" class="spotify">Spotify</a>
                    {% if sp_playlist_url %}
                    <p>Click <a href="{{sp_playlist_url}}" class="link">here</a> for your new playlist</p>
                    {% endif %}
                </div>

            </form>
        </div>
        
        <div>
            <script type="text/javascript">
                if ("{{error}}") {
                  alert("{{error}} Please try again.")
                }
            </script>
        </div>

        {% endblock %}
    </body>
</html>



